{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <form method="post" action="{% url 'registration:password_reset' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="email">찾으려는 이메일을 입력해주세요.</label>
            <input type="text" class="form-control" name="email" id="email"
                   value="{{ form.email.value|default_if_none:'' }}">
        </div>
        <input type="hidden" name="next" value="{{next}}">
        <button type="submit" class="btn btn-primary">이메일 전송</button>
    </form>
</div>
{% endblock %}
