{% load i18n %}
{% autoescape off %}
<!DOCTYPE html>
<html lang="ko">

<h2>PNU Notification의 계정 비밀번호를 초기화하기 위한 요청으로 이 이메일이 전송되었습니다.</h2>

<h2>아래의 페이지로 이동하여, 새 비밀번호를 입력해주세요.</h2>
<br>
<h2>
{% block reset_link %}
<a href="{{ protocol }}://{{ domain }}{% url 'registration:password_reset_confirm' uidb64=uid token=token %}">
   {{ protocol }}://{{ domain }}{% url 'registration:password_reset_confirm' uidb64=uid token=token %}
</a>
{% endblock %}
</h2>
<br>
<p>사이트를 이용해주셔서 감사합니다.</p>
<br>
<p>- 부산대학교 공지사항 알리미 -</p>

{% endautoescape %}