<table cellspacing="0" cellpadding="0" bgcolor="#fff" width="100%" style="background-color: #fff;">
    <tbody>
        <tr>
            <td>
                <center>
                    <table cellspacing="0" cellpadding="0" style="max-width:100%;">
                        <tbody>
                            <tr>
                                <td width="500" style="padding-top:80px;">
                                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;border:1px solid #E0E0E0;border-radius:4px;color:#141414;">
                                        <tbody>
                                            <tr>
                                                <td style="padding:40px 24px">

                                                    <!-- 제목 -->
                                                    <h2 style="margin:0;color:#141414;text-align:center;font: 700 20px/1.6 sans-serif;word-break:keep-all;">
                                                    {% block title %}
                                                    {% endblock %}
                                                    </h2>
                                                    <!-- //제목 -->

                                                    <!-- 본문 -->
                                                    <div style="color:#141414;text-align:center;font: 13px/1.6 sans-serif;">
                                                    {% block body %}
                                                    {% endblock %}
                                                    </div>
                                                    <!-- //본문 -->

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <footer>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody><tr><td align="center" style="padding:16px 0;color:#666;font:11px/1.7 sans-serif;">
                                                <a href="https://pnunoti.site/" style="text-decoration: none;">부산대학교 공지사항 알리미</a><br>
                                                <span>본 메일은 발신 전용이므로 이 주소로 회신하지 마세요.</span><br>
                                                Copyrights © PNU-Notification. All rights reserved.
                                            </td></tr></tbody>
                                        </table>
                                    </footer>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </center>
            </td>
        </tr>
    </tbody>
</table>