{% extends "base.html" %}
{% block content %}
<div class="container my-3" id="subscribe-container">
    <form enctype = "multipart/form-data" method="post" action="{% url 'subscribe:create-subscribe' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        {% include "message_errors.html" %}

        <div class="mb-3">
            <label for="등록">등록명 (필수)</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="예) 컴공 공지"
                   value="{{ form.title.value|default_if_none:'' }}">
            <br>
            <label for="RSS">RSS링크 (필수)</label>
            <input type="text" class="form-control" name="rss_link" id="rss_link" placeholder="예) https://cse.pusan.ac.kr/bbs/cse/2605/rssList.do?row=50"
                   value="{{ form.rss_link.value|default_if_none:'' }}">
            <br>
            <label for="Notice">공지사항 링크</label>
            <input type="text" class="form-control" name="notice_link" id="notice_link" placeholder="예) https://cse.pusan.ac.kr/cse/14651/subview.do"
                   value="{{ form.notice_link.value|default_if_none:'' }}">
        </div>
        <div id="subscribe-submit">
            <a href="../static/subscribe/userguide.png" class="btn btn-primary">설명 사진</a>
            <button type="submit" class="btn btn-primary">등록하기</button>
        </div>
    </form>
</div>
{% endblock %}