{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container my-3">
    <form enctype = "multipart/form-data" method="post" action="{% url 'subscribe:update-hakjisi-subscribe' hakjisi_subscribe.id %}">
        {% csrf_token %}
        {% include 'message_errors.html' %}

        <div class="mb-3">
            {% if hakjisi_subscribe.notice_id == 1 %}
                <a href="{{ notice_link }}" target="_blank">학생지원시스템 공지로 이동하기</a>
                <hr>
                <label for="title">구독 제목</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="학지시공지"
                       value="{{ hakjisi_subscribe.title|default_if_none:'' }}" >
            {% else %}
                <a href="{{ notice_link }}" target="_blank">대학공지로 이동하기</a>
                <hr>
                <label for="title">구독 제목</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="대학공지"
                       value="{{ hakjisi_subscribe.title|default_if_none:'' }}" >
            {% endif %}
        </div>
        <div class="buttons">
            <span>
                <a href="{% url 'registration:index' %}" class="btn btn-success">뒤로가기</a>
            </span>
            <span>
                <button type="submit" class="btn btn-primary">수정하기</button>
            </span>
        </div>
    </form>
</div>
{% endblock %}